.RadioButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(255 255 255 / 0%);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(3px);
  transition: 1s all;
  box-shadow: 1px 1px 11px 4px rgba(0, 0, 0, 0.418);
  display: flex;
  align-items: center;
  justify-content: center;
}

.RadioUnSelected,
.RadioSelected {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 3px #08080894;
}

.RadioSelected {
  background: radial-gradient(
    farthest-corner at 16px 18px,
    rgb(0, 153, 255) 16%,
    rgb(0, 70, 175) 50%,
    rgb(62, 139, 255) 100%
  );
}

.RadioUnSelected {
  background-color: aliceblue;
}

.RadioButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}

.RadioButtonLabel {
  font-size: 20px;
  text-shadow: 0 0 10px black;
  color: black;
}

.RadioGroup {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
