.TextFieldLight,
.TextFieldDark {
  outline: none;
  padding: 10px;
  border-radius: 30px;
  background: transparent;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.2s all;
  /* animation: 0.5s shake infinite; */
}

.TextFieldLight {
  border: 0.5px solid #9b9b9bf0;
  color: rgb(83, 83, 83);
}

.TextFieldDark {
  border: 0.5px solid #9b9b9bf0;
  color: rgb(197, 197, 197);
}

.TextFieldLight:focus {
  background: #c1c1c161;
  border: 1px solid rgb(145, 145, 145);
  color: rgb(83, 83, 83);
}

.TextFieldDark:focus {
  background: #4e4e4e61;
  border: 1px solid rgb(145, 145, 145);
  color: rgb(255, 255, 255);
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
}

.Container {
  width: -webkit-fill-available;
}

.Container {
  width: -moz-available;
}

.SearchPanelLight,
.SearchPanelDark {
  display: flex;
  width: 100%;
  /* transform: translate(0%, 80%); */
  position: absolute;
  flex-direction: column;
  z-index: 4;
  border-radius: 10px;
  /* padding: 10px 0px 10px 0px; */
  box-sizing: border-box;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 10px;*/
}

.SearchPanelLight {
  background: #d3d3d3;
  color: #6b6b6b;
  box-shadow: 0px 0px 20px 9px #858585ab;
}

.SearchPanelDark {
  background: rgb(58, 58, 58);
  color: #9f9f9f;
  box-shadow: 0px 0px 20px 9px #202020;
}

.SearchItemOdd,
.SearchItemEven {
  width: 100%;
}

.SearchItemOdd:hover,
.SearchItemEven:hover {
  background: linear-gradient(
    rgb(0, 153, 255) 2%,
    rgb(22, 95, 204) 50%,
    rgb(62, 139, 255) 100%
  );
  color: white;
  cursor: pointer;
}

.SearchItemOdd {
  background-color: #ffffffab;
}

.SearchItemEven {
  background-color: #dadada8f;
}

.SearchButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 25px;
  border-radius: 10px;
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translate(10px, -50%);
  background: rgb(145, 145, 145);
  transition: 0.5s all;
}

.SearchButtonActive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s all;
  width: 35px;
  height: 25px;
  border-radius: 30px;
  background: radial-gradient(
    farthest-corner at 0px 20px,
    rgb(0, 153, 255) 2%,
    rgb(0, 70, 175) 50%,
    rgb(62, 139, 255) 100%
  );
  /* background: #5b5b5bb8; */
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translate(10px, -50%);
  box-shadow: inset 0px 0px 6px 2px #4b4b4bc9;
}
