.DialogBoxLight,
.DialogBoxDark {
  display: flex !important;
  flex-direction: column !important;
  box-shadow: 1px 4px 20px 7px #0000005c;
  align-items: center !important;
  justify-content: space-between !important;
  padding-top: 5px !important;
  padding-bottom: 25px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
  border-radius: 30px !important;
  position: absolute !important;

  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
}

.DialogBoxDark {
  background-color: rgb(45 45 45 / 81%);
}

.DialogBoxLight {
  background-color: #ffffff70;
}

.ButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  width: 100%;
  gap: 5px;
}

.TitleDark,
.BodyDark,
.TitleLight,
.BodyLight {
  font-weight: 100;
}

.TitleDark,
.BodyDark {
  color: white;
}

.TitleLight,
.BodyLight {
  color: black;
}
