.slider {
  appearance: none;
  height: 30px;
  box-shadow: inset 0px 0px 20px 2px #00000085;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(3px);
  background: linear-gradient(
    112deg,
    rgb(157 157 157 / 46%) 4%,
    rgb(75 75 75 / 34%) 67%
  );
  border: 5px solid #d1d1d1e6;
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 2px;
  box-sizing: content-box;
  cursor: pointer;
}

.slider::-webkit-slider-thumb,
.sliderThin::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: radial-gradient(
    farthest-corner at 20px 20px,
    rgb(0, 153, 255) 2%,
    rgb(0, 70, 175) 50%,
    rgb(62, 139, 255) 100%
  );
}

.slider::-webkit-slider-thumb {
  box-shadow: 0px 1px 6px 4px #08080894;
}

.sliderThin::-webkit-slider-thumb {
  box-shadow: 0px 1px 6px 1px #08080894;
}
.sliderThin {
  appearance: none;
  height: 10px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background-color: rgb(159 159 159 / 99%);
  border-radius: 20px;
  padding-left: 5px;
  padding-right: 2px;
  box-sizing: content-box;
  cursor: pointer;
}
